/* ===============================
	Import 
===============================*/
@import url(fontawesome-all.min.css);/*
	Custom CSS for cafe
	Last updated 2021 by Leroy Russell
*/

/* ===============================
	Main stying 
===============================*/
/* Logo */
.logo {
	width: 160px;
}

/* Navigation links */
#navPanel li a { color: white; }

.w3-row-padding {
	padding: 0px !important;
}

/* Cafes */
#cafes {
	background: #fff;
	color: #3f3f3f;
}

#cafeList { 
	border-radius: 10px;
	background: #f6f6f6; }

.cafe { padding: 30px 50px 50px 50px; }

.cafe h3 { 
	font-weight: bold;
	margin: 0px;
	font-size: 1.3em; }

.cafe h4 { 
	text-align: left; 
	padding-left: 0px;
	font-size: 1em; }

.cafe .cafeImage { 
	width: 80%;
	margin: 20px 0px;
}

.cafe .rating { 
	color: gold;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 15px; }

.cafe .grey { color: lightgrey; }

.cafe .location-icon { 
	padding: 0px;
	margin-bottom: -20px !important;
}

.features { padding: 0px; }

.features i { 
	padding-right: 8px;
	color: #adadad; 
}

.features:first-child { 
	margin-left: 8px !important;
}

.cafe .features { 
	text-align: left !important;
	color: #3f3f3f; }

.cafe .features li { 
	list-style: none;
	font-size: 1em; }

#cafeCarousel ol li { 
	padding: 3px;
	border: 1px solid #eee; }

.carousel-indicators .active { 
	background: #a60000 !important; }

#cafeCarousel .carousel-control i {
	color: #a60000;
	font-size: 40px;
}

#cafeCarousel .w3-left {
	margin-left: 10px;
}

#cafeCarousel .w3-right {
	margin-right: 20px;
}

#cafeCarousel .carousel-control:hover {
	opacity: 1;
	color: #a60000;
}

/* Map */
#map { background: #141414; }

#map h2 {
	color: #fff
}

/* Footer */
#footer {
	background: #141414;
	color: #fff !important;
}
